.field-box{
  position: relative;

  .icons{
    position: absolute;
    display: inline-block;
    background:#eefcfc;
    right:-1.2px;
    top:0px;
    color: #333;
    transform: translateX(-25%);
    border:none;
  }
  .ok-icon,.email-ok-icon{
    padding:8.8px;
    top:1px;
  }
  .error-icon,.email-error-icon{
    background-color:$warning-red;
    padding:10px;
    right:-1.9px;
    top:0px;
  }
}

#select-box{
  border-radius: 0px;
}
