.logoHeader{
  background:$light-blue;
  padding-top:30px;
  padding-bottom: 20px;
  &__heading{
  }
}


.main-content {
  @include max-width-1240;
  padding: 100px 0px;
  .apply,.select-course,.finish{
    border:2px solid $green;
    padding:10px 10px;
  }
  .apply {

    .basic-info {
        background:$light-blue;
    }
    .contact-details {
      background:$light-grey;
    }
  }
  .basic-info,.contact-details,.select-a-course{
    display: flex;
    justify-content: space-between;
    padding:20px 15px;
    margin-bottom: 20px;
    color:$green;
  }
  .select-course {
    .select-a-course{
      background:$light-grey;
    }
  }
  .finish {

  }
  hr{
    width:46px;
    border-top:2px solid $green;
    transform:rotate(90deg);
    transform-origin: (0%,0%);
  }

  .student-info{
    // background: red;
    padding-left:50px;
    .field-box{
      margin-bottom:20px;

      label{
        font-size:18px;
        font-weight:300;
      }
      input[type=text],input[type=email]{
        width:80%;
        padding:5px;
        margin-left: 30px;
        border-radius: 0px;
      }
      input[type=date]{
        border-radius: 0px;
      }
      .emailLabel{
        margin-right:5px;
      }
    }
  }
  .step-info{
    border:1px solid $green;
    padding:0px 20px 20px 20px;
  }
}

.date{
  input,.input-group-addon{
    border-radius: 0px;
  }

  .date-label{
    font-size: 30px;
  }
}
